table {
	width: 400px;
	height: 200px;
	table-layout: fixed;
}
th {
	text-align: left;
}

table, th, h4, h5 {
	text-align: center;
}
h4, h5 {
	margin: 4px;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
	height:5px;
	width:35px;
}
th, td {
	padding: 1px;
}
tr:nth-child(even) {
	background-color: green;
}
tr:nth-child(odd) {
	background-color: yellow;
}
.cellNot {
	visibility: hidden;
}
.cellNot1 {
	visibility: hidden;
}
.cellNot2 {
	visibility: hidden;
}
.cellNot3 {
	visibility: hidden;
}
.cellPlay {
	background-color: orange;
}
.cellNot4 {
	background-color: orange;
}
.cellNot1a {
	visibility: visible;
}
.cellNot2a {
	visibility: visible;
}
.cellNot3a {
	visibility: visible;
}
#rollNo {
	visibility: visible;
	background-color: orange;
}
.score {
	background-color: orange;
}
#scoreNo {
	background-color: orange;
}
.center {
  margin-left: auto;
  margin-right: auto;
}